.drop-zone {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 400px;
  height: 100px;
  border: 1px dashed black;
}

.drop-zone__dragover {
  background-color: #002fff3d;
}

.drop-zone__wrapper {
  display: flex;
  flex-direction: column;
}

.drop-zone__input {
  flex: 1;
}

.drop-zone__progressbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.container__relative {
  position: relative;
  z-index: 10;
}

.file-preview {
  position: absolute;
   width: 100px;
   height: 100px;
   right: 0;
   bottom: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
